.main {
  background: #AFD4C0;
}

.headerMain {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  background: #509872;
  top: 0;
  z-index:999;
  color: white;
}

.headerImg {
  margin: auto 2%;
  height: 40%;
  width: auto;
}

button:hover {
  cursor: pointer;
}

.dashboardDelete {
  background: none;
  border: none;
  font-size: 1em;
  position: absolute;
  right: 30vw;
}

.dashboardMain {
  display:flex;
  flex-direction: column;
  margin: 10vh 20vw 0 20vw;
  background: #E5F3EB; 
  /* height: 100vh; */
}

.dashboardNav {
  border-bottom: 2px solid gray;
  /* background: gray; */
}

.dashboardNavBtn {
  background: #8AEA92;
  height: 7vh;
  font-size: 1.75em;
  font-weight: bold;
  border: none;
  position: relative;
  bottom: 3vh;
  right: 2vw;
  float: right;
}

.dashboardNavTitle {
  height: 0;
  margin-top: 0;
  margin-left: 3vw;
  font-size: 3em;
}

.listingBox {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* height: 20vh; */
  margin: 5%;
  flex-direction: column;
  background: #DEDEDE;
  padding: 2%;
}

.listingWhole {
  width: 70%;
}

.answer {
  margin-left: 2%;
}

.listingAns {
  display:flex;
  width: 100%;
  /* margin: 2%; */
}

.answerTitle {
  margin: 5%;
}

.wizardNav {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  /* border-bottom: 2px solid gray; */
}

.wizardCancel {
  background: #FEC2C2;
  border: none;
  font-size: 1em;
  font-weight: bold;
  height: 4vh;
  width: 5vw;
}

.wizardBody {
  padding: 3% 10% 2% 10%;
  height: 69vh;
}

.wizardText {
  display: flex;
}

.wizardInput {
  height: 2vh;
  margin: 3%
}

.step3Complete {
  background: #8AEA92;
  border: none;
  height: 6vh;
  width: 12vw;
  font-weight: bold;
  font-size: 1.5em;
}

.wizardNextStep, .wizardNext {
  background: #3B524A;
  color: white;
  border: none;
  height: 6vh;
  width: 12vw;
  font-weight: bold;
  font-size: 1.5em;
}

.wizardNextStep {
  position: absolute;
  right: 30vw;
  top: 75vh;
}

.step2Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50vh;
}

.listingImg {
  float: left;
  width: 80%;
  height: 80%;
}

.wizard2Main, .step3Main, .wizardMain {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 25vw;
  padding: 4%;
  margin-top: 1vh;
  height: 84vh;
  background: #E5F3EB;
  width: 42vw;
}

.wizard2Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.wizard2Title {
  font-size: 2em;
}

.step2Main {
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 5vh 5vh;
  width: 90%;
}

.step2Input, .step3Input {
  border: 1px solid #509872;
  height: 3vh;
}

.step3Body {
  margin: auto auto auto 4vw;
}

.step3Input{
  width: 30vw;
}

.step3Main {
  margin-top: 3vh;
  height: 82vh;
}

.houseMain {
  margin: auto;
  height: 70%;
  width: 80%;
}
